@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap");

:root {
  --grey-300: #eeeff0;
  --grey-700: #dddee0;
}
body {
  background: #010101;
  color: white;
  margin: 0;
  font-family: DM Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

a:hover {
  color: #ff9df0;
}

.arrow {
  width: 1.13em;
}

.cta {
  text-decoration: underline;
  margin: 0;
}

/* Navbar */
nav {
  justify-content: space-between;
  margin: 2rem;
}

.logo-container {
  align-items: center;
  justify-items: center;
}

.logo-container .logo {
  height: 2.7rem;
}

.logo-container .terah {
  height: 1.7rem;
}

/* Hero Section */

.hero-text {
  text-align: center;
  margin-inline: 14rem;
}

.tagline {
  display: inline !important;
  color: var(--grey-700) !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  border: 1px solid #ffbef5 !important;
  border-radius: 50px !important;
  padding: 0.3125rem 0.625rem !important;
}

.hero-text h1 {
  color: var(--grey-300);
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.04375rem;
  text-transform: capitalize;
}

.hero-text p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125.5%;
  letter-spacing: 0.015rem;
  margin-inline: 7rem;
}

.gradient-container {
  position: relative;
  border: 2px solid red;
  height: 70vh;
  overflow: hidden;
}

.gradient {
  width: 100%;
  position: absolute;
}

.purple-debit {
  width: 39.48581rem;
  position: absolute;
  left: 0rem;
  top: 10rem;
}

.black-debit {
  width: 39.48581rem;
  position: absolute;
  right: 0;
  top: 5rem;
}

/* Clients Section */

.clients-section {
  background-color: #fff;
  color: #000;
}

/* Button */
.contact-btn {
  padding: 0.625rem;
  width: 9.6875rem;
  padding: 0.625rem;
  background: #bb009e;
  border-radius: 0.5rem;
  border: none;
  color: var(--grey-300);
  font-family: DM Sans;
}
